--
-- PostgreSQL database dump
--

-- Dumped from database version 14.13
-- Dumped by pg_dump version 14.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: adminpack; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS adminpack WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION adminpack; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION adminpack IS 'administrative functions for PostgreSQL';


--
-- Name: prevent_created_at_update(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.prevent_created_at_update() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- If created_at already has a value, prevent changes

    IF NEW.created_at IS DISTINCT FROM OLD.created_at THEN

        RAISE EXCEPTION 'Modification of created_at is not allowed';

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.prevent_created_at_update() OWNER TO postgres;

--
-- Name: set_created_at_if_null(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_created_at_if_null() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Only set created_at if it is currently NULL
    IF NEW.created_at IS NULL AND OLD.created_at IS NULL THEN
        NEW.created_at := now();
    ELSIF NEW.created_at IS NULL AND OLD.created_at IS NOT NULL THEN
        NEW.created_at := OLD.created_at;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.set_created_at_if_null() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: tutorialgroup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tutorialgroup (
    step_group_id integer NOT NULL,
    step_group_name character varying(255) NOT NULL,
    role_id integer[] NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone DEFAULT now(),
    step_group_description character varying(255)
);


ALTER TABLE public.tutorialgroup OWNER TO postgres;

--
-- Name: tutorialgroup_step_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tutorialgroup_step_group_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tutorialgroup_step_group_id_seq OWNER TO postgres;

--
-- Name: tutorialgroup_step_group_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tutorialgroup_step_group_id_seq OWNED BY public.tutorialgroup.step_group_id;


--
-- Name: tutorialstep; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tutorialstep (
    step_id integer NOT NULL,
    role_id integer,
    step_group_name character varying(255) NOT NULL,
    step_name character varying(255) NOT NULL,
    step_description text,
    step_page character varying(50) NOT NULL,
    step_order integer NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.tutorialstep OWNER TO postgres;

--
-- Name: tutorialstep_step_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tutorialstep_step_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tutorialstep_step_id_seq OWNER TO postgres;

--
-- Name: tutorialstep_step_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tutorialstep_step_id_seq OWNED BY public.tutorialstep.step_id;


--
-- Name: usercompletedtutorial; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usercompletedtutorial (
    user_id integer,
    role_id integer,
    step_group_name character varying(50),
    step_id integer,
    complete_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.usercompletedtutorial OWNER TO postgres;

--
-- Name: tutorialgroup step_group_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutorialgroup ALTER COLUMN step_group_id SET DEFAULT nextval('public.tutorialgroup_step_group_id_seq'::regclass);


--
-- Name: tutorialstep step_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutorialstep ALTER COLUMN step_id SET DEFAULT nextval('public.tutorialstep_step_id_seq'::regclass);


--
-- Data for Name: tutorialgroup; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tutorialstep; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: usercompletedtutorial; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.usercompletedtutorial (user_id, role_id, step_group_name, step_id, complete_at) FROM stdin;
\.


--
-- Name: tutorialgroup_step_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tutorialgroup_step_group_id_seq', 10, true);


--
-- Name: tutorialstep_step_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tutorialstep_step_id_seq', 25, true);


--
-- Name: tutorialgroup tutorialgroup_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutorialgroup
    ADD CONSTRAINT tutorialgroup_pkey PRIMARY KEY (step_group_name);


--
-- Name: tutorialstep tutorialstep_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutorialstep
    ADD CONSTRAINT tutorialstep_pkey PRIMARY KEY (step_id);


--
-- Name: tutorialgroup prevent_created_at_update_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER prevent_created_at_update_trigger BEFORE UPDATE ON public.tutorialgroup FOR EACH ROW EXECUTE FUNCTION public.set_created_at_if_null();


--
-- Name: tutorialstep tutorialstep_step_group_name_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tutorialstep
    ADD CONSTRAINT tutorialstep_step_group_name_fkey FOREIGN KEY (step_group_name) REFERENCES public.tutorialgroup(step_group_name);


--
-- Name: usercompletedtutorial usercompletedtutorial_tutorialgroup_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usercompletedtutorial
    ADD CONSTRAINT usercompletedtutorial_tutorialgroup_fk FOREIGN KEY (step_group_name) REFERENCES public.tutorialgroup(step_group_name);


--
-- Name: usercompletedtutorial usercompletedtutorial_tutorialstep_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usercompletedtutorial
    ADD CONSTRAINT usercompletedtutorial_tutorialstep_fk FOREIGN KEY (step_id) REFERENCES public.tutorialstep(step_id);


--
-- PostgreSQL database dump complete
--

